div.imagen {
   
    color: chartreuse;
    font-size: 50px;
    text-align: center;
    
}
div.icono{
    font-size: 50px;
    color: rgb(17, 0, 255);
    text-align: center;

}
div.icono1{
   color: rgb(77, 165, 42);
   text-align: left;

}
div.icono2{
    color: blue;
    font: size 100px; ;
    text-align: right;

}